
<div class="row" id="luz">
    <h1>HARD & SOFT SKILLS</h1>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]= "80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">HTML</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]= "80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">CSS</H3>
    </div>       
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="80"
            [radius]="70"
            [imageSrc]="'../assets/jss.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">JSS</H3>
    </div>   
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="75"
            [radius]="70"
            [imageSrc]="'../assets/sk.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">HASKELL</H3>
    </div>   
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="15"
            [radius]="70"
            [imageSrc]="'../assets/python.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <H3 class="text-center">PYTHON</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../assets/idiomas6.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">IDIOMA</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="20"
            [radius]="70"
            [imageSrc]="'../assets/c++.png'"
            [showImage]="true"
            [imageHeight]="69"
            [imageWidth]= "69"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="500"
    ></circle-progress>
    <H3 class="text-center">C++</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../assets/c.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">C</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="60"
            [radius]="70"
            [imageSrc]="'../assets/githublogo.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]=" 70"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">GITHUB</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="100"
            [radius]="70"
            [imageSrc]="'../assets/team.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">TEAM WORK</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="90"
            [radius]="70"
            [imageSrc]="'../assets/idea.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">CREATIVITY</H3>
    </div>
    <div class="text-center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="100"
            [radius]="70"
            [imageSrc]="'../assets/adaptabilidad.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]=" 80"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#c1184c'"
            [innerStrokeColor]="'#0d517c'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
    <H3 class="text-center">ADAPTABILITY</H3>
    </div>
</div>
