<div class="row">
    <div>
        <h1 id="TituloProyectos">Proyectos</h1>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-xs-11 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h2>Nombre del Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing       
                elit.     Aspernatur aperiam odio dicta modi, aliquam 
                officiis praesentium commodi. Id facilis perspiciatis 
                autem consequatur? Obcaecati tempora rerum quam 
                deserunt necessitatibus blanditiis! Nesciunt.
            </p>
        </span>
    </div>
    <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2" >
        <a href="https://www.youtube.com/watch?v=EkDl2MSX3I8&list=PLly5egcQSlfmDzqF4Of944eD2VPXxua42">  <img src="../../../assets/yoprogramo.png" id="proyecto" 
            class="img-fluid">   </a>
    </div>
    <div><p></p></div>
    <div><p></p></div>
    <div><p></p></div>
    <div class="col-lg-1"></div>
    <div class="col-xs-11 col-sm-8 col-md-8 col-lg-8" >
        <span>
            <h2>Nombre del Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing       
                elit.     Aspernatur aperiam odio dicta modi, aliquam 
                officiis praesentium commodi. Id facilis perspiciatis 
                autem consequatur? Obcaecati tempora rerum quam 
                deserunt necessitatibus blanditiis! Nesciunt.
            </p>
        </span>
    </div>
    <div class="col-xs-11 col-sm-2 col-md-2 col-lg-2" >
        <a href="">  <img src="../../../assets/html.png" id="proyecto" 
            class="img-fluid">   </a>
    </div>
    <p></p>
    <p>   
    </p>
</div>
